*.png
*.pyc
__pycache__/*

notebook/datasets/*
notebook/results/*
notebook/tensorboard_log/*
notebook/trained_models/*

datasets/*
results/*
tensorboard_log/*
trained_models/*
venv/*

other/chromedriver/*